<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.yazgel.aphrodit.treeview.Activator"
               id="com.sansaretti.theme.model.treeview"
	       name="treeview">
    </component>
  </extension>
</plugin>
